/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}


.img-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

h1 {
	/*display: flex;
	justify-content: center;
	color: pink;*/
	font-family: 'Sail', cursive;
	font-size: 2em;
	border-bottom: 2px solid pink;
	/* border-right: 2px solid pink; */
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5 px #888888;
	margin-top: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }


.right-nav-container {
	
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	font-family: 'Sail', cursive;
	font-size: 1.5em;
	width: 400px;
	box-shadow: 4px 4px 5 px #888888;
	margin-top: 20px;
}

.nav-item {
	font-family: 'Sail', cursive;
	color: black;	
	text-decoration: none;  
  }

.nav-item:hover {
    color: rgb(172, 169, 169);
    cursor: pointer;    
  }

  #register {
    border: 2px solid rgb(124, 144, 145);
	width: 120px;
	text-align: center;
    border-radius: 5px;
  }

img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform:  scale(1.25);
	/* animation: ; */
}